@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-size: 1.3em;
}

body {
    margin: 0;

    font-family:  "Poppins", serif;

    min-height: 100vh;
}

main {
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 10vw;
    box-sizing: border-box;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section > h1 {
    width: 100%;
}

.sliderContainerList {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.3rem;
    margin: 2rem;
    width: max-content;
}

.slidecontainer {
    display: grid;
    /* flex-direction: row; */
    /* gap: 2rem;
    align-items: center;
    justify-content: center; */
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    gap: 1rem
}

.slidecontainer > p {
    margin: 0;
}
.slidecontainer > input {
    width: 100%;
}

#background-canvas {
    width: 100vw !important;
    height: 100% !important;
}

.slidecontainer p:first-child  {
    justify-self: right;
} 

.button-icon {
    height: 6rem;
    opacity: 0.5;
    transition: 0.2s all;
    cursor: pointer;
}

.button-icon:hover {
    opacity: 0.9;
}

.horizontal-flex {
    width: 100%;
    display: grid;
    /* flex-direction: row; */
    justify-content: center;
    grid-template-columns: 1fr 1fr;

    gap: 3rem;
}

.horizontal-flex *:first-child {
    justify-self: right;
}

app-button {
    width: fit-content;
}

#color-code {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgb(223, 223, 223);
}

#color-code div {
    flex-grow: 1;
}
#color-code p {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.585);
    width: fit-content;
}

.secondary-button button {
    background-color: white;
    border: 5px #007BFF solid;
}

.loader-spinner {
    width: 100px;
    margin: 2.5rem;
}

@media (max-width: 1250px) {
    .sliderContainerList {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 2rem;
        width: max-content;
    }
}

/* body {
    margin: 0;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family:  "Poppins", serif;

    cursor: none;

    user-select: none;

    overflow: hidden;
}

body > main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    color: #979797;
}

canvas {
    min-width: 800px;
    min-height: 800px;
}

section {
    width: 800px;
} */